

.container{
    transform: translate(56vw, 20vw);
    position: absolute;
}
.title{
    font-size: 4vw;
    color:#A3CAC1;
}

.containerImg{
    width: 35vw;
    height: 10vw;
    overflow-x: hidden;

 
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: carrousel linear 30s infinite;
    gap: 1vw;
    transform: translateX(-17.5vw);
}
@keyframes carrousel {
    0%{
        transform: translateX(-22.5vw);
    }
    50%{
        transform: translateX(22.5vw);
    }
    100%{transform: translateX(-22.5vw);}

}

.sliderInverted{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: carrouselI linear 30s infinite;
    gap: 1vw;
}
@keyframes carrouselI {
    0%{
        transform: translateX(22.5vw);
    }
    50%{
        transform: translateX(-22.5vw);
    }
    100%{transform: translateX(22.5vw);}

}